HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/tempFileIngr12728582725016568343ingredients
/src/main/resources/tempFileIngr14068322814192987735ingredients
/src/main/resources/tempFileRec7341966241764103422recipes
/src/main/resources/tempFileRec8216631480967128948recipes
/src/main/resources/tempFileRec10103714138347213265recipes
/src/main/resources/dataIngredients.json
/src/main/resources/dataRecipes.json
